---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$font-family-base:     'Work Sans', Arial, sans-serif;
$font-size-base:       18px;
$font-size-small:      14px;
$caption-font-size:    16px;
$font-size-h1:         floor($font-size-base * 2);
$font-size-h2:         floor($font-size-base * 1.4);
$font-size-h3:         floor($font-size-base * 1.2);
$line-height-base:     1.5;
$line-height-computed: floor($font-size-base * $line-height-base);
$headings-line-height: 1.6;

$spacing-unit:     30px;

$brand-primary:    #a60e13;
$brand-secondary:  #df1b21;
$gray-base:        #272727;
$gray-lighter:     lighten($gray-base, 40%);
$black:            #000;

$text-color:       $gray-base;
$background-color: #FFF;
$body-bg:          $background-color;

$navbar-default-bg:     transparent;
$navbar-default-border: none;

@mixin border-radius($radius) {
     border-top-right-radius: $radius;
      border-top-left-radius: $radius;
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}

// import bootstrap
@import "bootstrap";
@import "full_page";

// import custom styles
@import "fonts";
@import "layout";
@import "sections";
@import "home";
@import "404";
