.four-o-four header {
  .navbar {
    height:   70px;
    position: relative;

    h1 {
      background-size:     47px 54px;
      height:              70px !important;
      margin-top:          0;
      margin-bottom:       0;

      @media (min-width: $screen-sm-min) {
        background-position: 0;
      }
    }

    .navbar-right {
      display: none;
    }
  }
}

#four-o-four {
  width:      100%;
  height:     calc(100% - 70px);
  background: #FFF;

  h1 {
    display:          inline-block;
    font-size:        $font-size-h1;
    letter-spacing:   2.7px;
    line-height:      1em;
    margin:           0;
    padding:          15px 20px;

    @media (max-width: $screen-xs-max) {
      font-size: $font-size-h1 / 2;
    }
  }

  h3 {
    display:          inline-block;
    font-size:        $font-size-h3;
    line-height:      1em;
    margin:           6px 0 0;
    padding:          15px 0;

    @media (max-width: $screen-xs-max) {
      font-size: $font-size-h2 / 2;
    }
  }
}
