html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: $brand-secondary;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.background-highlight {
  background-color: $brand-primary;
  color: #fff;
  padding: 6px 10px;
}

.wrapper {
  position: relative;
}

.sm {
  li {
    &:after {
      content: '/';
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.visible-landscape {
  display: none;

  @media (max-width: $screen-xs-max) and (orientation:landscape) {
    display: block;
  }
}

.hidden-landscape {
  display: block;;

  @media (max-width: $screen-xs-max) and (orientation:landscape) {
    display: none;
  }
}

/**
 * Site footer
 */
footer {
  @extend .clearfix;

  color:    black;
  display:  block;
  width:    100%;

  ul.sm {
    list-style: none;

    li {
      display:    inline-block;

      a:hover {
        border-bottom: 3px solid $brand-primary;
      }
    }
  }
}

/**
 * Header
 */
header {
  &.simple {
    nav#header {
      .container {
        @media (min-width: $screen-md-min) {
          padding-left:   42px;
          padding-right:  42px;
        }
      }

      .navbar-header {
        background: rgba(255, 255, 255, 0.7);
      }

      h1 {
        background-size: 47px 54px;
        height:          70px !important;
      }

      @media (min-width: $screen-md-min) {
        h1 {
          background-position: 0;
          margin:                0;
        }
      }
    }
  }

  h1 {
    background-color:    transparent;;
    background-image:    url('/images/logo.png');
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     116px 130px;
    height:              130px !important;
    margin-bottom:       50px;
    margin-left:         0 !important;
    margin-top:          50px;
    padding:             0 !important;
    text-indent:         -99999em;
    width:               116px;
    z-index:             100;
  }

  @media (max-height: 620px) {
    h1 {
      margin-top:     15px;
      margin-bottom:  15px;
    }
  }

  @media (max-width: $screen-md-max) and (max-height: 440px) {
    h1 {
      background-position: 15px;
      background-size:       47px 54px;
      height:                70px !important;
      margin:                0;
    }
  }

  @media (max-width: $screen-xs-max) {
    h1 {
      background-position: 15px;
      background-size:       47px 54px;
      height:                70px !important;
      margin:                0;
    }
  }

  .navbar-header {
    float:    none;
    position: relative;

    @media (max-height: 550px) {
      background: rgba(255, 255, 255, 0.7);
    }
  }

  .navbar-toggle {
    display: block;
  }

  .centered {
    line-height: 50px;
    position:    absolute;
    right:       0;
    top:         calc(50% - 25px);
  }
}

#main-nav {
  display: none !important;

  .fa-times {
    color:        white;
    cursor:       pointer;
    font-size:    2em;
    margin-right: 9px;
    margin-top:   94px;
  }

  &.in {
    display: block !important;

    background: $brand-primary;
    height:     100% !important;
    position:   fixed;
    width:      100%;
    z-index:    9999;
  }
}

.navbar-default {
  .navbar-link {
    color: $brand-secondary;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 15px;
  }

  .navbar-toggle {
    border:        0;
    height:        46px;
    margin-bottom: 0;
    margin-top:    0;

    .icon-bar {
      background-color: $brand-primary;
      border-radius:    0;
      height:           4px;
      width:            26px;
    }

    &:focus {
      background: transparent;
    }

    &:hover {
      background-color: $brand-primary;
      border-radius: 0;

      .icon-bar {
        background-color: #fff;
      }
    }
  }
}

.navbar-nav {
  left:           0;
  margin:         0;
  position:       absolute;
  text-align:     center;
  top:            calc(50% - 125px);
  vertical-align: middle;
  width:          100%;

  li {
    float:      none;
    text-align: center;

    a {
      color:       white;
      display:     inline-block;
      font-size:   20px;
      font-weight: 500;
      border-bottom:    4px solid transparent;

      &:hover {
        background-color:    transparent;
        border-bottom-color: #fff;
      }
    }

    &.sm {
      margin-top: 20px;
      li {
        display: inline-block;
        color: #fff;
      }
    }

  }
}

// .index_block {
//   top: 40px;
// }

.next-section-link {
  bottom:       -156px;
  font-size:    16px;
  font-style:   normal;
  height:       206px;
  position:     absolute;
  width:        100%;

  a {
    font-size: 16px;
    color:     $black;

    &:hover {
      color: $brand-primary;
    }
  }

  .section-cta {
    height: 206px;
  }

  &.left {
    .section-cta {
      border-left:  12px solid #000;
      padding-left: 15px;
    }
  }

  &.right {
    .section-cta {
      border-right:  12px solid #000;
      padding-right: 15px;
      text-align:    right;
    }
  }
}

.thumbnail {
  -webkit-box-shadow:    0px 0px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow:       0px 0px 8px 0px rgba(0,0,0,0.1);
  box-shadow:            0px 0px 8px 0px rgba(0,0,0,0.1);
  padding:               0px;
  border:                0px;
  border-radius:         0;
  -moz-border-radius:    0;
  -webkit-border-radius: 0;
}
.push-content {
  padding: 0 30px;
}

@media (max-width: $screen-xs-max) {
  .push-content {
    padding: 0;
  }
}

.push-portfolio {
  padding: 0 12px;
}

.word-vertical, .word-horizontal {
  font-size:   65px;
  font-weight: 300;
  color:       $brand-primary;
}

.cross-text {
  bottom:         -78px;
  pointer-events: none;
  position:       absolute;

  .vertical-text {
    width: 1px;

    .word-vertical {
      word-wrap:   break-word;
      left:        38px;
      position:    relative;
      line-height: 80px;
    }
  }

  .horizontal-text {
    position: relative;
    bottom:   134px;

    .word-horizontal {
      letter-spacing: 32px;
    }
  }
}
