#travel-section {
  position: relative;

  .background-wrapper {
    background-image:  url('/images/travel-bg.jpg');
    background-repeat: no-repeat;
    background-size:   contain;

    height:   651px;
    left:     calc(50% - 550px);
    position: absolute;
    top:      calc(50% - 325px);
    width:    1101px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      background-position: 50%;
      height:              100%;
      left:                0;
      top:                 0;
      width:               100%;
    }

    @media (max-width: $screen-xs-max) {
      background-position: 50%;
      height:              100%;
      left:                0;
      top:                 0;
      width:               100%;
    }

    @media (max-width: $screen-xs-max) and (orientation:landscape) {
      background-position: 50%;
      background-size:     80%;
    }
  }

  .cross-text {
    bottom: calc(25% - 110px);

    .word-vertical{
      left: 0;
    }

    .horizontal-text {
      bottom: 115px;
      left:   56px;
    }
  }

  .next-section-link {
    .section-cta {
      height: 50px;

      .credits {
        text-transform: uppercase;
        color:          $brand-primary;
        float:          right;
        font-size:      14px;

        a {
          font-size: 14px;
          color: $brand-primary;

          &:hover {
            border-bottom: 3px solid $brand-primary;
          }
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      bottom: 0;
      height: auto;

      .section-cta {
        height: 100%;

        .credits {
          clear:          both;
          float:          left;
          line-height:    1;
          padding-bottom: 15px;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .cross-text {
      bottom: calc(25% - 170px);

      .horizontal-text {
        bottom: 120px;
        left:   50px;
      }
    }
  }

  @media (max-width: $screen-xs-min) {
    .cross-text {
      .horizontal-text {
        bottom: 78px;
        left:   32px;
      }
    }
  }

  @media (max-width: $screen-xs-max) and (orientation:landscape) {
    .cross-text {
      bottom: calc(50% - 73px);
    }

    h1 {
      color:          $brand-primary;
      font-size:      40px;
      font-weight:    300;
      letter-spacing: 7px;
    }
  }
}
